Gemfile.lock
*~
.*.swp
.*
log/
tmp/**/*
private/*
public/assets/
config/secrets.yml
config/database.yml
node_modules
command.js

#
# Local dev environment files
#

.idea/
.rvmrc*
.ruby-version
.ruby-gemset
.DS_Store
Gemfile.local
Gemfile.local.lock
passenger-standalone.json
config/initializers/rubymine_passenger_debug.rb
config/initializers/delayed_job_silencer.rb