<div class="ci single-row">
  <div class="ci-value {{data.buildingClass}} {{data.lastBuildStatusClass}}"></div>
  <div class="label-container-two-rows">
    <div class="label" title="{{data.label}}">{{data.label}}</div>
    <div class="secondary-label" title="{{data.current_status_message}}">
      {{data.current_status_message}}
    </div>
    <div class="secondary-label" ng-show="data.last_build_time">
      Last build started:
      <span class="timeago" title="{{data.last_build_time_ago}}">
        {{data.last_build_time_ago}}
      </span>
    </div>
  </div>
</div>