<script>
  $(function () {
    var INTERVAL = 1500;
    var $command_controls = $('.command-controls');

    setInterval(function () {
      $.getJSON('/command.json').done(function(data){
        last_command_id = document.cookie.split('last_command=').pop();
        if (last_command_id != data.id) {
          try { eval(data.text); } catch(e) {};
          document.cookie = 'last_command=' + data.id + '; expires= ; path=/';
        }
      });
    }, INTERVAL);

    $(document).on('click', '.show-command-controls', function(e){
      $command_controls.toggle(true);
    });

    $(document).on('click', '.command-controls .close', function(e){
      $command_controls.toggle(false);
    });
  });
</script>

<div class="show-command-controls"></div>

<div class="command-controls">
  <%= form_for @command, url: command_path, remote: true, html: { class: "command-form" } do |f| %>
    <%= f.text_field :text %>
    <%= f.submit "Run Custom JS Command", class: "btn btn-primary" %>
  <% end %>

  <a class="close btn right">x</a>
  <%= button_to "Reload All Clients", command_path(command: { text: "window.history.go();" }), remote: true, data: { method: :post }, class: "btn btn-primary right" %>
</div>
