<div class="show-command-controls"></div>

<div class="command-controls">
  <%= form_for @command, url: command_path, remote: true, html: { class: "command-form" } do |f| %>
    <%= f.text_field :text %>
    <%= f.submit "Run Custom JS Command", class: "btn btn-primary" %>
  <% end %>

  <a class="close btn right">x</a>
  <%= button_to "Reload All Clients",
                command_path(command: { text: "document.location.reload(true);" }),
                remote: true,
                data: { method: :post },
                class: "btn btn-primary right" %>
</div>