.command-controls, .show-command-controls {
  position: fixed;
  bottom: 0;
  right: 0;
}

.show-command-controls {
  width: 50px;
  height: 50px;
}

.command-controls {
  width: 100%;
  height: 35px;
  display: none;
  z-index: 9999;

  div, form, input, button {
    display: inline;
    margin: 0;
  }

  form {
    input[type="text"] {
      width: 66%;
    }
  }

  .right {
    float: right;
    margin-left: 5px;
  }
}